name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libfuse-dev pkg-config

      - name: Build
        run: cargo build --verbose

      - name: Run clippy
        run: cargo clippy --verbose -- -D warnings

      - name: Run tests
        run: cargo test --verbose
